$primary: #e0e0e0;

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: $primary;
}

input[type='range'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
        outline: none;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
    }

    &::-moz-range-thumb {
        border: none;
    }
}

.range-style {
    width: 100%;
    height: 8px;
    background: #ccc;
    border-radius: 5px;

    @mixin track-style {
        display: flex;
        align-items: center;
        height: 8px;
        border-radius: 10px;
        background-color: $clr5;
        box-shadow: -340px 0 0 320px #1597ff, inset 0 0 0 40px #1597ff;
    }

    @mixin thumb-style {
        position: relative;
        top: -50%;
        width: 16px;
        height: 16px;
        border-radius: 100%;
        background: $sideblk;
        cursor: pointer;
        
    }

    &::-webkit-slider-runnable-track {
        @include track-style;
        background-color: #ccc;
    }

    &::-webkit-slider-thumb {
        @include thumb-style;

    }

    &::-moz-range-track {
        @include track-style;
        background-color: #f00;
    }

    &::-moz-range-thumb {
        @include thumb-style;
        background-color: #f00;
    }
}