$sideblk: #6a401c;
$sidebar: #6a401c;
$header: #564235;
$body: #fbf4f0;
$txt: #333;
$black: #000;
$white: #fff;

$clr1: #fff;
$clr2: #fbff00;
$clr3: #dd8096;
$clr4: #806863;
$clr5: #95df9f;

$fontPath: './fonts';